# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/alpacoid/AlpaNode"
PassengerBaseURI "/AutoNode"
PassengerNodejs "/home/alpacoid/nodevenv/AlpaNode/10/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
