/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #6990F2;
} */

::selection{
  color: #fff;
  background: #6990F2;
}
.wrapper-database{
  width: 350px;
  /* background: #fff; */
  /* border-radius: 5px; */
  /* padding: 30px; */
  /* box-shadow: 7px 7px 12px rgba(0,0,0,0.05); */
}
.wrapper-database header{
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.wrapper-database {
  height: 280px;
  display: flex;
  /* cursor: pointer; */
  /* margin: 30px 0; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  border: 2px dashed #000000;
}
.wrapper-posisi{
  width: 350px;
  /* background: #fff; */
  /* border-radius: 5px; */
  /* padding: 30px; */
  /* box-shadow: 7px 7px 12px rgba(0,0,0,0.05); */
}
.wrapper-posisi header{
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.wrapper-posisi {
  height: 280px;
  display: flex;
  /* cursor: pointer; */
  /* margin: 30px 0; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  border: 2px dashed #000000;
}
form :where(i, p){
  color: #000000;
}
form p{
  /* margin-top: 0px; */
  font-size: 12px;
  font-weight: 400;
}

header {
  font-size:22px;
  font-weight:400;
  margin-bottom: 2%;
}

section .row{
  margin-bottom: 10px;
  background: rgb(233, 240, 255);
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: #000000;
  font-size: 20px;
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 10px;
  width: 100%;
  margin-bottom: 4px;
  background: #eaeaea;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 100%;
  background: #4886FF;
  border-radius: inherit;
}
 /* upload */

 .uploaded-area.onprogress{
  max-height: 150px;
}

 .upload-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.upload-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.upload-area .content .upload-bar-custom{
  height: 10px;
  width: 100%;
  margin-bottom: 4px;
  background: #eaeaea;
  border-radius: 30px;
}
.content .upload-bar-custom .upload{
  height: 100%;
  width: 100%;
  background: #4886FF;
  border-radius: inherit;
}
