@mixin button($color, $childrenColor: null) {
    background-color: $color;
    border-color: $color;
    > * {
        color: if($childrenColor, $childrenColor, null);
    }
    &:active, &:focus{
        background-color: rgba(darken($color, 5%), .8);
        box-shadow: 0 0 0 .25rem rgba(darken($color, 2%), .5);
        border-color: $color;
    }
     &:hover{
        background-color: rgba(darken($color, 5%), .8);
        border-color: $color;
    }
}