@import 'vars';

// Components 
@import 'components/navbar';
@import 'components/card';
@import 'components/button';

// Pages
@import 'pages/login';
@import 'pages/dashboard';

.sweet-alert button{
    width: 150pt !important;
}

.file-upload-container{
    width: 100% !important;
    margin-bottom: 20px;
}

.text-primary-color{
    color: $textPrimaryColor
}

.main-content-wrapper{
    margin-top: 10%;
}

.search-input{
    input[type="text"]{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-color: $grayBorderColor2;
        border-right: none;
    }
    .search-icon{
        span{
            background-color: transparent;
            border-top: 1px solid $grayBorderColor2;
            border-right: 1px solid $grayBorderColor2;
            border-bottom: 1px solid $grayBorderColor2;
        }
    }
}

.pagination-info-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1.25rem 1.25rem 1.25rem;
    .display-info {
        > p {
            margin-bottom: 0px;
        }
    }
    > .pagination {
        background-color: #FCFCFC;
        padding: 10px 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        button{
            background-color: transparent;
            border: 1.5px solid #130F26;
            border-radius: 5px;
        }
        > span.curr-page {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .main-content-wrapper{
        margin-top: 2%;
    }
    .sweet-alert button{
        width: 250pt;
    }    
    .file-upload-container{
        margin-bottom: 0px;
    }
}

// Just Mobile
@media (max-width: 767.98px) {
    .mobile-mt-20{
        margin-top: 20px;
    }

    .mobile-pt-50{
        padding-top: 50px;
    }

    li.paginate_button.previous {
        display: inline;
    }
 
    li.paginate_button.next {
        display: inline;
    }
 
    li.paginate_button {
        display: none;
    }
    
    .left-sidebar{
        width: 0% !important;
        transition: width 1s, opacity 1s;
        > div {
            opacity: 0;
        }
    }

    .show-sidebar{
        .left-sidebar{
            width: 100% !important;
            > div {
                opacity: 1;
                transition: opacity 1s linear .5s;
                //transition-delay: 1s;
            }
        }
    }

    .mobile-radio-groups{
        &.radio-cols{
            display: flex;
            flex-direction: column;
            fieldset{
                margin-bottom: 10px;
            }
            .custom-control{
                margin-left: 0px;
            }
        }
    }
}